h1{
  margin-top:30px;
  text-align:center;
  color:gray;
}

h2{
  margin-top:30px;
  text-align:center;
  color:gray;
}

.subtitle{
  color:lightgray;
  font-style:italic;
  font-weight:bold;
  text-align:center;
  font-size:20px;
}

.col-sm{
  text-align:center;
}

.inside{
  color:black;
  background-color:lightgray;
  padding:20px;
  border-radius: 20px;
}

.vehicle{
  position:relative;
  width:280px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.vehicle img{
  width:280px;
  border-radius: 20px;
  margin:0px;
  position:relative;
}

.onePlace{
  position:relative;
  width:800px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.price{
  position:absolute;
  top:30px;
  padding:10px;
  background-color:rgba(255,255,255,0.8);
  z-index:5;
  right:0px;
  left:0px;
}

.inside a{
  color:gray;
}

.inside a:hover{
  color:orange;
}

.btn-lg{
  background-color:white;
  color:#262959;
}